.section {
    &-listing {
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        &-title {
            font-size: 18px;
            font-weight: bold;
            color: #333333;
        }
        &-main {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-sort {
            margin-right: 15px;
        }
        &-button-link {
            background-color: #f1f1f1 !important;
            color: #333333;
        }
    }
}
