.section {
    &-listing {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 8px;
        width: 100%;
        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        &-title {
            font-size: 18px;
            font-weight: bold;
            color: #333333;
        }
        &-main {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-sort {
            margin-right: 15px;
        }
        &-button-link {
            background-color: #f1f1f1 !important;
            margin-right: 10px;
            color: #333333 !important;
        }
        &-button-link.active {
            text-decoration: underline;
            font-weight: bold;
        }
        &-list {
            padding-left: 0;
        }
        &-item {
            display: flex;
            padding: 15px 0;

            margin: 0;
            border-top: 1px solid #ddd;
            &-img {
                max-width: 170px;
                height: 160px;
                object-fit: cover;
                // /* display: block; */
                width: 100%;
                border-radius: 5px;
            }
        }
        &-info {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-title {
                font-size: 16px;
                color: #055699;
                font-weight: bold;
            }
            &-meta {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                p {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
            &-price {
                font-size: 1.2rem;
                font-weight: 700;
                color: #16c784;
                margin-right: 20px;
            }
            &-acreage {
                margin-right: 20px;
                color: #333;
            }
            &-location {
                text-decoration: none;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                width: 100%;

                max-width: 250px;
                color: #333;
            }
            &-time {
                display: block;
                margin-left: auto;
            }
            &-desc {
                margin: 10px 0 0;
                color: #8a8d91;
                line-height: 1.5;
            }
            &-author {
                display: flex;
                align-items: center;
                margin-top: 10px;
                &-avt {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    object-fit: cover;
                }
                &-name {
                    padding: 0;
                    margin: 0 0 0 20px;
                    color: #8a8d91;
                }
            }
        }
    }
    &-navigation {
        display: block;

        margin: 20px 0 50px;
        padding: 0;
        text-align: center;
    }
    &-sublink {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 8px;
        &-title {
            font-size: 1.3rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
            font-size: 18px;
            margin-bottom: 15px;
        }
        &-price,
        &-acreage {
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 0;

            flex-wrap: wrap;
        }
        &-item {
            width: 50%;
            list-style-type: none;
            position: relative;
            display: flex;
            align-items: center;
            border-bottom: 1px dashed #eee;
            &::before {
                content: "";
                display: inline-block;
                width: 14px;
                height: 14px;
                background: url(../image/chevron-right.svg) center no-repeat;
                background-size: contain;
                // position: absolute;
                // left: 0;
                opacity: 0.3;
            }
        }
        &-link {
            text-decoration: none;
            padding: 5px 0;
            display: inline-flex;
            align-items: center;
            color: #333;
            width: 100%;
            line-height: 1.4;
            font-size: 1rem;
            font-weight: 400;
            padding-left: 10px;
            &:hover {
                color: orange;
            }
        }
    }
    &-newPost {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 8px;
        &-title {
            font-size: 1.3rem;
            font-weight: 700;
            font-size: 18px;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
        }
        &-list {
            padding: 0;
        }
        &-item {
            list-style-type: none;
            padding: 10px 0;
            margin: 0;
            border: 0;
            border-bottom: 1px solid #eee;
        }
        &-link {
            text-decoration: none;
            display: flex;
        }
        &-img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            border-radius: 5px;
            img {
                width: 65px;
                height: 65px;
                object-fit: cover;
            }
        }
        &-name {
            color: #055699;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3;
            margin-bottom: 10px;
            font-size: 14px;
        }
        &-info {
            margin-left: 10px;
        }
        &-sub {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price {
            font-weight: 700;
            color: #16c784;
            margin: 0 20px 0 0;
            padding: 0;
        }
        &-time {
            color: #aaa;
            line-height: 19px;
            font-size: 12px;
        }
    }
}
