@import "globoal";
@import "header";
@import "filter";
@import "pageHeader";
@import "location";
@import "section";
@import "section_about";
@import "contact";
@import "support";
//page details
@import "post";
@import "aside";

@import "footer";
